
@{
    ViewData["Title"] = "About";
}


@if(ViewBag.Message != null) 
{
    <p>@ViewBag.Message</p>
}

<h2>About</h2>
<P> Hi my name is Andreas and welcome to my MCV project site, this was made for an assignment.</P>
<P> </P>