
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<ul>
    <li>
       @* <a href="https://github.com/Andreasnewgit/Sokoban">Sokoban</a>
        <p>Sokoban pushing boxes game, made in httml and javascript</p>*@
    </li>
    <li>
        <a href="https://github.com/Andreasnewgit/VendingMachine">Vending Machine</a>
        <p> C# vending machine console application</p>
    </li>
    <li>
        <a href="https://github.com/Andreasnewgit/Calculator">Calculator</a>
        <p>C# Calculator console application</p>
    </li>
</ul>

