@model IEnumerable<PersonData>
@{
    ViewData["Title"] = "Index";
}

<h1>List from Database</h1>


<div>
    <a asp-action="CreateDB" class="btn btn-primary">Add new person</a>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Phone Number</th>
        <th> </th>

    </tr>
    </thead>
    <tbody>
        @foreach (var person in Model) 
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td>@person.PhoneNumber</td>
                <td><a asp-action="Delete" asp-route-id=@person.Id class="btn btn-danger">Delete</a></td>
            </tr>
        }
        

    </tbody>
</table>

