
.logo {
    background-color: #0094ff;
    color: #ffffff;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
}

header {
    display: flex;
    background-color: grey;
}

.container {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: darkgray;
}

    #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0094ff;
        color: white;
    }