
@{
    ViewData["Title"] = "CheckAge";
}

<h1>Fever Check</h1>

<form asp-action="CheckAge" method="post">
    <label>Please enter your Temperature: </label>
    <input type="number" name="input"/>
    <input type="submit" value="Check Fever" class="btn btn-primary" />
</form>

@if(ViewBag.Result != null){
    <p>@ViewBag.Result</p>
}