
<h2>Number Game</h2>
<p>I've picked a number between 1, 100, try to guess it</p>


<form asp-action="NumberGuesser" method="post">
    <label>Guess A Number</label>
    <input type="number" name="GuessedNumber" />
    <input type="submit" name="Submit" />
</form>

@if (ViewBag.Message == null)
{
    <p>Please enter a number</p>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
