@model MCV.Models.PersonViewModel

   @{ViewData["Title"] = "Index";
}

<h3>List of People</h3>

<p>
    <a asp-action="Create" class="btn btn-outline-danger btn-lg">Add new person</a>
</p>
@*@Model.person.Name*@

<h4>Show data as table:</h4>

<table id="customers">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone number</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.tempList)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td>@person.PhoneNumber</td>
                <td><a asp-action="Delete" asp-route-id=@person.Id class="btn btn-danger">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0094ff;
            color: white;
        }
</style>








