@{
    ViewData["Title"] = "PeopleIndex";
}

<h2>People Index</h2>

<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0094ff;
            color: white;
        }
</style>


<form asp-action="search" method="post">
    @*<label>Please enter your guess: </label>*@
    <input type="text" name="input" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>

<form asp-action="create" methoid="post"> 
    <input type ="text" name="create" />
    <input type ="submit" value="Add" class="btn btn-primary" />
</form>

<h3>Place Holder</h3>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Maria Anderse</td>
        <td>234341</td>
        <td>Berlin</td>
    </tr>
    <tr>
        <td>Francisco Chang</td>
        <td>3423454</td>
        <td>Mexico City<td>
    </tr>
</table>